<div class="mdl-cell mdl-cell--6-col">
  <h2>Quiz instructions</h2>
  <ul>
    <li>Select an answer for every question. Unanswered questions will be scored as incorrect.</li>
    <li>There are three possible question types:</li>
    <li>
      <ol>
        <li>Multiple Choice: click the radio button to indicate your choice. Currently, only one answer can be selected for a
          multiple choice question.</li>
        <li>True/False: click the radio button to indicate your choice.</li>
        <li>Matching Answers: select a match from the pop-up list below each item.</li>
      </ol>
    </li>
    <li>If you use a wheel button mouse, take care not to accidently change your answers. Sometimes scrolling the wheel will
      rotate through the answers in a selection list, when you might have meant simply to scroll farther down in the quiz
      window.</li>
    <li>Click on the Submit button at the bottom of the page to have your answers graded.</li>
  </ul>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent centre-button" (click)="startQuiz()">Start Quiz</button>
</div>